/* Colors */
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Typography */
/* Background */
/* Border */
/* Shadow */
/* Padding */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  background-color: #F1F1F2;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #404040;
}

h1 {
  font-family: "El Messiri", sans-serif;
  margin: 0;
}

/*Container*/
.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.colored-border-1 {
  border-color: #DCDEF0;
}
.colored-border-2 {
  border-color: #F4C959;
}
.colored-border-3 {
  border-color: #5B76E0;
}
.colored-border-4 {
  border-color: #60EB87;
}
.colored-border-5 {
  border-color: #F93232;
}

/* Flex Wrapper */
.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Grid Wrapper */
.grid-wrapper {
  display: grid;
}

.grid-cell-span-column-2 {
  grid-column: span 2;
}
.grid-cell-span-column-3 {
  grid-column: span 3;
}
.grid-cell-span-column-4 {
  grid-column: span 4;
}

/* Icon */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
.icon path {
  -o-transition: fill 0.1s linear;
  -moz-transition: fill 0.1s linear;
  -webkit-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
}
.icon-container {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Input */
input[type=text],
input[type=password] {
  width: 100%;
  margin: 0;
  padding: 0.5em 0.4em;
  background-color: #FAFCFD;
  border: 1px solid #D5D6D2;
  border-radius: 4px;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}
input[type=text]:focus,
input[type=password]:focus {
  border-color: #4662CD;
  border-radius: 8px;
  color: #4662CD;
}
input[type=text]::placeholder,
input[type=password]::placeholder {
  color: #D2D2D2;
}

.input-vpadding {
  padding: calc(0.4em + 2px) 0;
}

.input-buffer {
  position: absolute;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
  white-space: pre;
}

.input-container {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}
.input-container hr {
  width: 2em;
  border: 1px solid #D5D6D2;
}

/* Header */
.header {
  width: 100%;
  height: 120px;
  margin: 0 0 1em;
  background-color: #363636;
  color: #fff;
  font-weight: 700;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-navbar a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  display: block;
}
.main-navbar .navbar__inner {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 1em;
}
.main-navbar .navbar-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5em;
  margin: 0;
  padding: 0;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.main-navbar .navbar-link .username {
  display: inline-block;
}
.main-navbar .navbar-link .icon {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  vertical-align: middle;
}
.main-navbar .navbar-link:hover {
  color: #7ACBCD;
}
.main-navbar .navbar-link:hover .icon path {
  fill: #7ACBCD;
}
.main-navbar .active-link {
  color: #7ACBCD;
}
.main-navbar .active-link .icon path {
  fill: #7ACBCD;
}

/* Search Line */
.search-line {
  margin: 0 0 1em;
  position: relative;
}
.search-line input {
  padding: 0.5em 1.5em;
  background-color: #fff;
  border-color: transparent;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
}
.search-line input:focus {
  border-color: transparent;
}
.search-line .icon-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1.5em;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.search-line .icon-container .icon {
  width: 1.5em;
  height: 1.5em;
}
.search-line .icon-container:hover .icon path {
  fill: #4662CD;
}

/* Courses content */
.courses-content .flex-wrapper {
  align-items: flex-start;
  column-gap: 1em;
}
.courses-content .title-container {
  font-size: 27px;
  text-align: center;
}

/* Filter */
.filter {
  width: 350px;
  padding: 1em 0;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
  font-size: 16px;
}
.filter .flex-wrapper {
  align-items: center;
}
.filter .grid-wrapper {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: baseline;
  gap: 0.5em;
}
.filter .suptitle-container {
  padding: 0 1em;
  border-top: 1px solid #D5D6D2;
  color: #636262;
}
.filter .suptitle-container * {
  font-size: 27px;
}
.filter .suptitle-container .icon path {
  fill: #838282;
}
.filter-tab__inner {
  padding: 1em 1em;
}
.filter-tab__inner .subtitle-container {
  color: #838282;
}
.filter-tab__inner .subtitle-container:not(:first-child) {
  margin-top: 1em;
}
.filter-tab__inner input {
  text-align: right;
}
.filter-tab__inner.flex-wrapper {
  align-items: flex-start;
}
.filter-tab .btn {
  border-radius: 20px;
  padding: 0.5em;
}
.filter-tab .btn .icon {
  width: 1em;
  height: 1em;
}
.filter-tab .authors-container .author {
  width: fit-content;
  margin: 0.5em 0;
  padding: 0 0.5em;
  background-color: #FAFCFD;
  border: 1px solid #D5D6D2;
  border-radius: 20px;
}
.filter-tab .authors-container .author input {
  min-width: 1em;
  width: 1em;
  background-color: transparent;
  border-color: transparent;
}
.filter-tab .authors-container .author.flex-wrapper {
  column-gap: 0;
}
.filter-tab .authors-container .icon-container {
  padding: 0.5em 0.5em 0.5em 0.5em;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.filter-tab .authors-container .icon-container:hover .icon path {
  fill: #a01d26;
}

/* Mian Content */
.main-content {
  flex: 1 1 0;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
}
.main-content .search-results {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.main-content .search-results__item {
  padding: 0.5em;
  padding-top: 0;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  -o-transition: box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear;
  -webkit-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  border-top-width: 6px;
  border-top-style: solid;
  border-radius: 4.81px;
}
.main-content .search-results__item .item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: 500;
  color: #838282;
  line-height: 2;
}
.main-content .search-results__item .title {
  margin-bottom: 0.5em;
  font-size: 27px;
}
.main-content .search-results__item .description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.main-content .search-results__item .item-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-size: 0.75em;
  font-weight: 500;
  color: #838282;
}
.main-content .search-results__item:hover {
  -webkit-box-shadow: 0px 2.4px 7.21px 0px #00000040;
  -moz-box-shadow: 0px 2.4px 7.21px 0px #00000040;
  box-shadow: 0px 2.4px 7.21px 0px #00000040;
}

/* Unit */
.unit {
  font-size: 14px;
  color: #838282;
}

/* Button */
.btn {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  padding: 0.5em 1em;
  background-color: #4662CD;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.btn .icon {
  width: 1.5em;
  height: 1.5em;
}
.btn .icon path {
  fill: #fff;
}
.btn:hover {
  background-color: #758FF2;
}
.btn:active {
  background-color: #5B76E0;
}

/* Image Container */
.image-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D5D6D2;
}

/* Profile */
.profile > .flex-wrapper {
  justify-content: center;
}
.profile__inner {
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
}
.profile__inner .flex-wrapper {
  align-items: flex-start;
  column-gap: 1em;
}
.profile__inner .title-container {
  margin-bottom: 1em;
}
.profile__inner .suptitle {
  font-weight: 500;
}
.profile__inner .subtitle {
  font-size: 14px;
  color: #838282;
}
.profile__inner .image-container {
  flex: 0 0 1;
  width: 200px;
  height: 200px;
  flex-direction: column;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.profile__inner .image-container svg {
  position: relative;
  top: 1em;
}
.profile__inner .image-container .subtitle {
  justify-self: flex-end;
  position: relative;
  top: 50%;
}
.profile__inner .options {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  font-size: 16px;
}
.profile__inner .options-section {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.profile__inner .options-section h1 {
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-radius: 4.81px;
}
.profile__inner .options > .flex-wrapper {
  justify-content: flex-end;
}
.profile__inner .options-item .btn {
  font-size: 0.9em;
}
.profile__inner .options-item.grid-wrapper {
  grid-template-columns: 1fr auto;
  column-gap: 1em;
}
.profile__inner .options-item.grid-wrapper input {
  grid-column: 1;
  grid-row: 2;
}
.profile__inner .options-item.grid-wrapper .btn {
  grid-column: 2;
  grid-row: 2;
}
.profile__inner .options-item input:disabled,
.profile__inner .options-item .disabled {
  opacity: 0.5;
  color: #838282;
}

/* Task */
.task {
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: inherit;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 20px;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.task-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.task .value {
  font-size: 14px;
  font-weight: 500;
  color: #838282;
}
.task:hover {
  background-color: #FAFCFD;
  border-color: #E4E6F4;
  text-decoration: underline;
}
.task:active {
  background-color: #E4E6F4;
}

/* My Courses */
.my-courses .container {
  max-width: 800px;
}
.my-courses .title-container {
  margin-bottom: 1em;
}
.my-courses .title-container.flex-wrapper {
  align-items: center;
}
.my-courses .title-container .btn {
  font-size: 14px;
}
.my-courses__inner {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
}
.my-courses__item {
  border-radius: 4.81px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.my-courses__item-header {
  padding: 0.5em;
  background-color: #5B76E0;
  border-radius: 4.81px 4.81px 0 0;
  color: #fff;
}
.my-courses__item-header .title {
  margin-bottom: 0.5em;
  font-size: 27px;
  font-weight: 700;
}
.my-courses__item-header .subtitle {
  font-size: 14px;
  font-weight: 500;
}
.my-courses__item__inner {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.my-courses__item__inner .title-container {
  margin-bottom: 0.5em;
}
.my-courses__item__inner .title-container:last-child {
  margin-bottom: 0;
  margin-top: 0.5em;
}
.my-courses__item__inner .subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #838282;
}
.my-courses__item__inner .task {
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: inherit;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 20px;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.my-courses__item__inner .task-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.my-courses__item__inner .task .value {
  font-size: 14px;
  font-weight: 500;
  color: #838282;
}
.my-courses__item__inner .task:hover {
  background-color: #FAFCFD;
  border-color: #E4E6F4;
  text-decoration: underline;
}
.my-courses__item__inner .task:active {
  background-color: #E4E6F4;
}
.my-courses__item:hover {
  -webkit-box-shadow: 0px 2.4px 7.21px 0px #00000040;
  -moz-box-shadow: 0px 2.4px 7.21px 0px #00000040;
  box-shadow: 0px 2.4px 7.21px 0px #00000040;
}

/* Lectures */
.lectures__inner {
  width: 800px;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
}
.lectures__item {
  padding: 0 4em 1em 1em;
  position: relative;
  background-color: #fff;
  border-top-width: 6px;
  border-top-style: solid;
  border-radius: 4.81px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.lectures__item .item-header {
  font-size: 0.75em;
  font-weight: 500;
  color: #838282;
  text-align: right;
  line-height: 1.5;
}
.lectures__item .item-body .title {
  font-size: 27px;
}
.lectures__item .item-body .subtitle {
  color: #838282;
}
.lectures__item .btn {
  height: calc(100% + 6px);
  position: absolute;
  top: -6px;
  right: 0;
  z-index: 1;
  border-radius: 0 4.81px 4.81px 0;
}
.lectures__item .tasks-container {
  display: none;
  margin-top: 1em;
}
.lectures__item:hover {
  -webkit-box-shadow: 0px 2.4px 7.21px 0px #00000040;
  -moz-box-shadow: 0px 2.4px 7.21px 0px #00000040;
  box-shadow: 0px 2.4px 7.21px 0px #00000040;
}
.lectures__item:hover .tasks-container {
  display: block;
}

/* Theory */
.theory .container {
  max-width: 800px;
}
.theory .title-container {
  font-size: 27px;
  margin-bottom: 0.5em;
}
