/* Colors */
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Typography */
/* Background */
/* Border */
/* Shadow */
/* Padding */
/* Alt Colors */
/* Additional Colors */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  background-color: #F1F1F2;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #404040;
}

/* Text */
h1, h2, h3 {
  margin: 0;
  font-family: "El Messiri", sans-serif;
}

h2, h3 {
  line-height: 1.25;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
}
.title.normal {
  font-weight: inherit;
}

.subtitle {
  font-size: 1.125em;
}

.reduced-text {
  font-size: 0.9em;
}

.small-text {
  font-size: 0.75em;
}

.text-emphasis-primary {
  color: #404040;
}
.text-emphasis-1 {
  color: #636262;
}
.text-emphasis-2 {
  color: #838282;
}
.text-emphasis-3 {
  color: #D2D2D2;
}
.text-emphasis-like-border {
  color: #D5D6D2;
}

.secondary-text {
  font-family: "Roboto", sans-serif;
}

.description {
  margin: 0.5em 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: justify;
}

.title-container,
.description-container {
  font-size: inherit;
}

.notice {
  font-weight: 500;
}
.notice.error {
  color: #a01d26;
}

.inactive {
  color: #ffffff4d;
  pointer-events: none;
  cursor: default;
  opacity: 0;
  opacity: 1;
}

/* Containers */
.container {
  width: 100%;
  margin: 0 auto;
}
.container.c-main {
  max-width: 1200px;
}
.container.c-10 {
  max-width: 1000px;
}
.container.c-8 {
  max-width: 800px;
}
.container.c-6 {
  max-width: 600px;
}
.container.c-4 {
  max-width: 400px;
}
.container.c-2 {
  max-width: 200px;
}
.container.gap-0_5 > *:nth-child(n+2) {
  margin-top: 0.5em;
}
.container.gap-1 > *:nth-child(n+2) {
  margin-top: 1em;
}
.container.gap-1_5 > *:nth-child(n+2) {
  margin-top: 1.5em;
}
.container.gap-2 > *:nth-child(n+2) {
  margin-top: 2em;
}

.content-panel {
  width: 100%;
  padding: 1em;
  background-color: #fff;
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.flex-wrapper.gap-0_5 {
  gap: 0.5em;
}
.flex-wrapper.gap-1 {
  gap: 1em;
}
.flex-wrapper.nogap {
  gap: 0;
}
.flex-wrapper.flex-end {
  justify-content: flex-end;
}
.flex-wrapper.flex-start {
  justify-content: flex-start;
}
.flex-wrapper.flex-center {
  justify-content: center;
}
.flex-wrapper .flex-fill {
  flex: 1 1 0;
}
.flex-wrapper.content-fill > * {
  flex: 1 1 0;
}

.content-center {
  text-align: center;
}
.content-left {
  text-align: left;
}
.content-right {
  text-align: right;
}

.hidden {
  visibility: hidden;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
  cursor: default;
  opacity: 0;
  -o-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
.modal.visible {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  cursor: default;
}

/* Grid Wrapper */
.grid-wrapper {
  display: grid;
  align-items: start;
  gap: 1em;
}
.grid-wrapper.template-main {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: "header header" "main   rsidebar-1" "main   rsidebar-2" "main   rsidebar-3";
}
.grid-wrapper.template-main-expanded {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas: "header header" "main   rsidebar-1" "main   rsidebar-2" "main   rsidebar-3" "main   rsidebar-4";
}
.grid-wrapper.template-main-l {
  grid-template-columns: auto 1fr;
  grid-template-areas: "header     header" "lsidebar-1 main" "lsidebar-2 main" "lsidebar-3 main";
}

.ga-header {
  grid-area: header;
}
.ga-main {
  grid-area: main;
}
.ga-rsidebar-1 {
  grid-area: rsidebar-1;
}
.ga-rsidebar-2 {
  grid-area: rsidebar-2;
}
.ga-rsidebar-3 {
  grid-area: rsidebar-3;
}
.ga-rsidebar-4 {
  grid-area: rsidebar-4;
}
.ga-lsidebar-1 {
  grid-area: lsidebar-1;
}
.ga-lsidebar-2 {
  grid-area: lsidebar-2;
}
.ga-lsidebar-3 {
  grid-area: lsidebar-3;
}

.g-c-span-2 {
  grid-column-end: span 2;
}
.g-c-span-3 {
  grid-column-end: span 3;
}

/* Icons */
.material-icons,
.material-icons-outlined {
  vertical-align: bottom;
}
.material-icons.md-18,
.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons.md-24,
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons.md-36,
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons.md-48,
.material-icons-outlined.md-48 {
  font-size: 48px;
}
.material-icons.va-bottom,
.material-icons-outlined.va-bottom {
  vertical-align: bottom !important;
}
.material-icons.va-top,
.material-icons-outlined.va-top {
  vertical-align: top !important;
}
.material-icons.va-middle,
.material-icons-outlined.va-middle {
  vertical-align: middle !important;
}
.material-icons.rounded,
.material-icons-outlined.rounded {
  width: 46px;
  border-radius: 2em;
}
svg.material-icons {
  width: 18px;
  height: 18px;
  margin-right: 0.5em;
}

.toggle-on {
  color: #4662CD;
}
.toggle-off {
  color: inherit;
}
.toggle-container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.5em;
}

.no-select {
  user-select: none;
}

/* Rounded */
.content-panel.rounded-full,
.btn.rounded-full,
input[type=text].rounded-full,
input[type=password].rounded-full,
.input-wrapper.rounded-full,
textarea.rounded-full {
  border-radius: 2em;
}
.content-panel.rounded-half,
.btn.rounded-half,
input[type=text].rounded-half,
input[type=password].rounded-half,
.input-wrapper.rounded-half,
textarea.rounded-half {
  border-radius: 1em;
}
.content-panel.rounded-quarter,
.btn.rounded-quarter,
input[type=text].rounded-quarter,
input[type=password].rounded-quarter,
.input-wrapper.rounded-quarter,
textarea.rounded-quarter {
  border-radius: 0.5em;
}
.content-panel.rounded-none,
.btn.rounded-none,
input[type=text].rounded-none,
input[type=password].rounded-none,
.input-wrapper.rounded-none,
textarea.rounded-none {
  border-radius: 0;
}
.content-panel.rounded-full, .content-panel.rounded-half, .content-panel.rounded-quarter,
.btn.rounded-full,
.btn.rounded-half,
.btn.rounded-quarter,
input[type=text].rounded-full,
input[type=text].rounded-half,
input[type=text].rounded-quarter,
input[type=password].rounded-full,
input[type=password].rounded-half,
input[type=password].rounded-quarter,
.input-wrapper.rounded-full,
.input-wrapper.rounded-half,
.input-wrapper.rounded-quarter,
textarea.rounded-full,
textarea.rounded-half,
textarea.rounded-quarter {
  outline-offset: 4px;
}
.content-panel.equal,
.btn.equal,
input[type=text].equal,
input[type=password].equal,
.input-wrapper.equal,
textarea.equal {
  padding: 0.5em;
}

/* Button */
.btn {
  padding: 0.5em 1em;
  background-color: #4662CD;
  border-radius: 0.25em;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.btn, .btn-icon {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.btn:not(.fill, .stroke):hover {
  background-color: #758FF2;
}
.btn:not(.fill, .stroke):active {
  background-color: #5B76E0;
}
.btn.stroke {
  background-color: transparent;
  border: 1px solid #D5D6D2;
  color: inherit;
  -o-transition: border-color .1s linear, background-color .25s linear, color .25s linear;
  -moz-transition: border-color .1s linear, background-color .25s linear, color .25s linear;
  -webkit-transition: border-color .1s linear, background-color .25s linear, color .25s linear;
  transition: border-color .1s linear, background-color .25s linear, color .25s linear;
}
.btn.stroke:not(.strk-secondary):hover {
  border-color: #4662CD;
}
.btn.stroke:not(.strk-secondary):active {
  background-color: #758FF2;
  color: #fff;
  border-color: #4662CD;
}
.btn.stroke.strk-secondary {
  font-weight: 500;
  text-transform: capitalize;
}
.btn.stroke.strk-secondary:hover {
  background-color: #F1F1F2;
}
.btn.stroke.strk-secondary:active {
  background-color: #D5D6D2;
}
.btn.fill {
  border: 1px solid transparent;
}
.btn.rounded-full.equal.deployable {
  -o-transition: border-radius 0.25s ease-out;
  -moz-transition: border-radius 0.25s ease-out;
  -webkit-transition: border-radius 0.25s ease-out;
  transition: border-radius 0.25s ease-out;
}
.btn.rounded-full.equal.deployable:hover {
  border-radius: 0.5em;
}
.btn-icon {
  padding: 0.5em;
  background-color: transparent;
  border-radius: 2em;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  -o-transition: background-color .2s ease-out, color .1s linear;
  -moz-transition: background-color .2s ease-out, color .1s linear;
  -webkit-transition: background-color .2s ease-out, color .1s linear;
  transition: background-color .2s ease-out, color .1s linear;
}
.btn-icon:hover {
  color: #4662CD;
}
.btn-icon:active {
  background-color: #D5D6D2;
}
.btn .material-icons,
.btn .material-icons-outlined {
  vertical-align: middle;
}
.btn.btn-secondary {
  font-size: 16px;
}

/* Input */
input[type=text],
input[type=password],
textarea {
  padding: 0.4em 0.5em;
  background-color: transparent;
  border: 1px solid #D5D6D2;
  border-radius: 0.25em;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: inherit;
  outline: none;
}
input[type=text].rounded-full, input[type=text].rounded-half,
input[type=password].rounded-full,
input[type=password].rounded-half,
textarea.rounded-full,
textarea.rounded-half {
  padding: 0.4em 1em;
}
input[type=text].fill,
input[type=password].fill,
textarea.fill {
  background-color: #FAFCFD;
}
input[type=text].stroke-none,
input[type=password].stroke-none,
textarea.stroke-none {
  border-color: transparent;
}
input[type=text].stroke-bottom,
input[type=password].stroke-bottom,
textarea.stroke-bottom {
  border-color: transparent;
  border-bottom-color: #D5D6D2;
}
input[type=text].stroke-bottom:focus,
input[type=password].stroke-bottom:focus,
textarea.stroke-bottom:focus {
  border-bottom-color: #4662CD;
}
input[type=text]:not(.stroke-none, .stroke-bottom):focus,
input[type=password]:not(.stroke-none, .stroke-bottom):focus,
textarea:not(.stroke-none, .stroke-bottom):focus {
  border-color: #4662CD;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
textarea::placeholder {
  color: #D2D2D2;
}
input[type=text].error,
input[type=password].error,
textarea.error {
  border-color: #F93232;
}

/* Input Wrapper */
.input-wrapper {
  max-width: 100%;
  padding: 0 0.5em;
  border: 1px solid #D5D6D2;
  border-radius: 0.25em;
}
.input-wrapper .material-icons {
  vertical-align: middle;
}
.input-wrapper.rounded-full, .input-wrapper.rounded-half {
  padding: 0em 1em;
}
.input-wrapper input {
  flex: 1 1 0;
  padding: 0.4em 0;
}
.input-wrapper:not(.stroke-none):focus-within {
  border-color: #4662CD;
}
.input-wrapper.deployable {
  -o-transition: border-radius 0.1s linear;
  -moz-transition: border-radius 0.1s linear;
  -webkit-transition: border-radius 0.1s linear;
  transition: border-radius 0.1s linear;
}
.input-wrapper.deployable:focus-within {
  border-radius: 0.25em;
}

/* Input Container */
.input-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}
.input-container input {
  width: 100%;
  flex: 1 1 0;
}
.input-container hr {
  flex: 0 0 1em;
}

/* Input Buffer */
.auto-input {
  min-width: 1em;
  max-width: 100%;
}

.input-buffer {
  position: absolute;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
}

/* Form */
.form {
  position: relative;
}
.form-inner {
  list-style: none;
  padding: 0;
}
.form-inner li input[type=text],
.form-inner li input[type=password],
.form-inner li textarea {
  display: block;
  width: 100%;
}
.form-inner li:nth-child(n+2) {
  margin-top: 0.5em;
}
.form-inner li.filled > * {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.form-inner li.filled.three-quarter > * {
  width: 75%;
}
.form-inner li.filled.half > * {
  width: 50%;
}
.form-inner li.filled.quarter > * {
  width: 25%;
}
.form-inner li.indent-1 {
  margin-top: 1em;
}
.form-inner li.indent-1_5 {
  margin-top: 1.5em;
}
.form-inner li.indent-2 {
  margin-top: 2em;
}
.form-inner li.indent-rev-1 {
  margin-bottom: 1em;
}
.form-inner li.indent-rev-1_5 {
  margin-bottom: 1.5em;
}
.form-inner li.indent-rev-2 {
  margin-bottom: 2em;
}
.form-inner .btn.type-submit .label {
  font-size: 16px;
}
.form-inner .btn.type-submit .material-icons {
  vertical-align: middle;
}
.form-inner .status-bar {
  font-size: 16px;
}
.form-navigation {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  font-size: 0.75em;
  color: #838282;
}

hr {
  flex: 1 1 0;
  border-color: #D5D6D2;
}

/* Expandable */
.expandable .expand-btn {
  padding: 0.5em 0em;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.expandable .expand-btn hr {
  -o-transition: border-color 0.1s linear;
  -moz-transition: border-color 0.1s linear;
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
}
.expandable .expand-btn.secondary-color:hover {
  color: #404040;
}
.expandable .expand-btn:hover {
  color: #4662CD;
}
.expandable .expand-btn:hover hr {
  border-color: #4662CD;
}
.expandable .expandable-part {
  display: none;
}

/* Links */
.link {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
.link.underlined {
  text-decoration: underline;
}
.link.nav {
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.link.nav:hover, .link.nav.active {
  color: #7ACBCD;
}
.link:not(.nav):hover {
  color: #4662CD;
  text-decoration: underline;
}
.link:not(.nav):hover .text-emphasis-2 {
  color: #404040;
  text-decoration: underline;
}
.link:not(.nav):active {
  text-decoration: none;
}
.link:not(.nav):active .text-emphasis-2 {
  text-decoration: none;
}
.link.active {
  color: #4662CD;
}

.link-secondary {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
.link-secondary:hover {
  text-decoration: underline;
}
.link-secondary.l-block {
  display: block;
}

/* Detailed Link */
.detailed-link {
  text-decoration: none;
  color: inherit;
  margin: 0;
  display: grid;
  background-color: transparent;
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 1px 3px 0px #00000040;
  -moz-box-shadow: 0px 1px 3px 0px #00000040;
  box-shadow: 0px 1px 3px 0px #00000040;
  -o-transition: box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear;
  -webkit-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  cursor: pointer;
}
.detailed-link.g-template-main {
  grid-template-areas: "header" "title" "description" "expand-btn" "expandable" "footer";
}
.detailed-link.g-template-top {
  grid-template-areas: "title header" "description description" "expand-btn expand-btn" "expandable expandable" "footer footer";
}
.detailed-link.g-template-top .title-container {
  padding-top: 0.5em;
}
.detailed-link.g-template-bottom {
  grid-template-areas: "header header" "title footer";
}
.detailed-link.expandable {
  cursor: default;
}
.detailed-link:nth-of-type(n + 2) {
  margin-top: 1em;
}
.detailed-link:hover {
  -webkit-box-shadow: 0px 2.4px 7.21px 0px #00000040;
  -moz-box-shadow: 0px 2.4px 7.21px 0px #00000040;
  box-shadow: 0px 2.4px 7.21px 0px #00000040;
}
.detailed-link.bordered {
  border-top: 0.25em solid #D5D6D2;
}
.detailed-link.bordered.color-1 {
  border-color: #DCDEF0;
}
.detailed-link.bordered.color-2 {
  border-color: #F4C959;
}
.detailed-link.bordered.color-3 {
  border-color: #5B76E0;
}
.detailed-link.bordered.color-4 {
  border-color: #60EB87;
}
.detailed-link.bordered.color-5 {
  border-color: #F93232;
}
.detailed-link__header {
  grid-area: header;
}
.detailed-link__footer {
  grid-area: footer;
}
.detailed-link .title-container {
  grid-area: title;
}
.detailed-link .description-container {
  grid-area: description;
}
.detailed-link .expand-btn {
  grid-area: expand-btn;
}
.detailed-link .expandable-part {
  grid-area: expandable;
}
.detailed-link__header, .detailed-link__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5em;
  font-size: 0.75em;
  font-weight: 500;
  color: #838282;
}
.detailed-link__header.flex-start, .detailed-link__footer.flex-start {
  justify-content: flex-start;
}
.detailed-link__header.flex-end, .detailed-link__footer.flex-end {
  justify-content: flex-end;
}
.detailed-link__header .standart-emphasis, .detailed-link__footer .standart-emphasis {
  color: #404040;
}
.detailed-link .title-container,
.detailed-link .description-container {
  padding: 0em 1em;
}
.detailed-link .expand-btn {
  padding: 0.5em 1em;
  -o-transition: padding 0.35s linear;
  -moz-transition: padding 0.35s linear;
  -webkit-transition: padding 0.35s linear;
  transition: padding 0.35s linear;
}
.detailed-link .expand-btn.cover {
  padding: 0.5em 0;
}
.detailed-link .expandable-part {
  padding: 0 1em;
}
.detailed-link .expandable-part__inner {
  margin: 0.5em;
  list-style: none;
  padding: 0;
  font-size: 16px;
}
.detailed-link .expandable-part__inner *:nth-child(n+2) {
  margin-top: 0.25em;
}

/* List */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  background-color: #363636;
  font-weight: 700;
  color: #fff;
}

/* Navigation */
.navbar__inner {
  list-style: none;
  padding: 0;
}
.navbar__item {
  display: inline-block;
}
.navbar__item:nth-child(n+2) {
  margin-left: 1em;
}

.dropdown {
  position: relative;
}
.dropdown .link {
  position: relative;
  z-index: 2;
}
.dropdown__inner {
  list-style: none;
  padding: 0;
  padding: 0.5em;
  padding-top: 48px;
  position: absolute;
  z-index: 1;
  min-width: calc(100% + 1em);
  background-color: #363636;
  border-radius: 0.125em;
  pointer-events: none;
  cursor: default;
  opacity: 0;
  -o-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
.dropdown__inner.flat {
  padding-top: 0;
}
.dropdown__inner:not(.flat) {
  top: 0;
  -webkit-box-shadow: 0 3px 3px -2px #000;
  -moz-box-shadow: 0 3px 3px -2px #000;
  box-shadow: 0 3px 3px -2px #000;
}
.dropdown__inner:not(.content-right) {
  left: -0.5em;
}
.dropdown__inner.content-right {
  right: -0.5em;
}
.dropdown__item {
  margin-top: 0.5em;
}
.dropdown__item:hover .link.nav {
  color: #7ACBCD;
}
.dropdown__item .material-icons,
.dropdown__item .material-icons-outlined {
  width: 48px;
  text-align: center;
}
.dropdown:hover .dropdown__inner {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

/* Filter */
#filter {
  width: 380px;
  position: relative;
  padding-bottom: 0;
}
#filter .expandable:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid #D5D6D2;
}
#filter .expandable:last-child .expandable-part {
  padding-bottom: 1em;
}
#filter .filter__inner {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  max-width: 100%;
  align-items: center;
}
#filter .filter__inner:not(.without-grid) {
  display: grid;
  grid-template-columns: auto 150px auto;
  gap: 0.5em;
}
#filter .filter__inner.without-grid li:nth-child(n+2) {
  margin-top: 0.5em;
}
#filter .filter__inner input[type=checkbox].hidden {
  display: none;
}
#filter .filter__inner .filter-option {
  display: contents;
  font-size: 16px;
}
#filter .filter__inner .filter-option:nth-child(n+2) {
  margin-top: 0.5em;
}
#filter .filter__inner .filter-option .container {
  margin: 0;
}
#filter .filter__inner .filter-option input[type=text] {
  text-align: right;
}
#filter .filter__inner .input-wrapper {
  padding-right: 0.5em;
  width: fit-content;
}
#filter .filter__inner .btn-icon:hover {
  color: #a01d26;
}
#filter .filter__inner #add-author-btn__container {
  margin-top: 1em;
}

/* My Courses */
#my-courses-list > .title-container {
  margin-bottom: 1em;
}

/* Course */
#course-main {
  grid-area: main;
}

#course-tabs {
  grid-area: header;
}
#course-tabs .link {
  position: relative;
  font-weight: 500;
  text-decoration: none;
}
#course-tabs .link:after {
  content: "";
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding-bottom: 0.5em;
  border-bottom: 3px solid transparent;
}
#course-tabs .link:hover:after {
  border-bottom: 3px solid #4662CD;
}
#course-tabs .link.active:after {
  border-bottom: 3px solid #4662CD;
}

#course-comments {
  margin-top: 2em;
}
#course-comments .comment {
  padding: 0.5em 1em;
  border: 1px solid #D5D6D2;
  border-radius: 0.5em;
}
#course-comments .comment:nth-of-type(n + 2) {
  margin-top: 1em;
}
#course-comments .comment-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: calc(1em + 4px) auto;
  grid-template-areas: "avatar username" "avatar date";
  align-items: start;
  column-gap: 0.5em;
}
#course-comments .comment-header > .material-icons,
#course-comments .comment-header > .material-icons-outlined {
  grid-area: avatar;
}
#course-comments .comment-header span[name=username] {
  grid-area: username;
  margin-top: 2px;
  font-weight: 500;
}
#course-comments .comment-header span[name=date] {
  grid-area: date;
  font-size: 14px;
}
#course-comments .comment a.comment-header {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
#course-comments .comment a.comment-header:hover span[name=username] {
  text-decoration: underline;
}
#course-comments #comment-write {
  border: none;
  padding: 0.5em 0;
}
#course-comments #comment-write .comment-header {
  grid-template-areas: "avatar username" "avatar comment";
}
#course-comments #comment-write .comment-header textarea[name=comment] {
  grid-area: comment;
}

#course-authors,
#course-students {
  padding: 0;
}
#course-authors > *,
#course-students > * {
  padding: 0 1em;
}
#course-authors > *:first-child,
#course-students > *:first-child {
  padding-top: 1em;
}
#course-authors > *:last-child,
#course-students > *:last-child {
  margin-bottom: 1em;
}
#course-authors a:not(.link-secondary),
#course-students a:not(.link-secondary) {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
#course-authors a:not(.link-secondary):hover span[name=username],
#course-students a:not(.link-secondary):hover span[name=username] {
  text-decoration: underline;
}
#course-authors a:not(.link-secondary):active,
#course-students a:not(.link-secondary):active {
  background-color: #D5D6D2;
}

#course-students .expand-btn {
  margin-bottom: 1em;
}

.path {
  align-self: start;
  font-size: 14px;
}
.path a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
.path a:hover {
  text-decoration: underline;
}

#tasks-list .expandable-part {
  display: block;
}

.create-page textarea,
#create-lecture textarea {
  width: 100%;
  resize: vertical;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.create-page #course-main-content #course-name-input,
.create-page #course-main-content #lecture-name-input,
.create-page #course-main-content #task-name-input,
.create-page #lecture-main-content #course-name-input,
.create-page #lecture-main-content #lecture-name-input,
.create-page #lecture-main-content #task-name-input,
.create-page #task-main-content #course-name-input,
.create-page #task-main-content #lecture-name-input,
.create-page #task-main-content #task-name-input,
#create-lecture #course-main-content #course-name-input,
#create-lecture #course-main-content #lecture-name-input,
#create-lecture #course-main-content #task-name-input,
#create-lecture #lecture-main-content #course-name-input,
#create-lecture #lecture-main-content #lecture-name-input,
#create-lecture #lecture-main-content #task-name-input,
#create-lecture #task-main-content #course-name-input,
#create-lecture #task-main-content #lecture-name-input,
#create-lecture #task-main-content #task-name-input {
  flex: 1 1 0;
}
.create-page #course-main-content label[for=course-content-input],
.create-page #course-main-content label[for=lecture-content-input],
.create-page #course-main-content label[for=task-content-input],
.create-page #lecture-main-content label[for=course-content-input],
.create-page #lecture-main-content label[for=lecture-content-input],
.create-page #lecture-main-content label[for=task-content-input],
.create-page #task-main-content label[for=course-content-input],
.create-page #task-main-content label[for=lecture-content-input],
.create-page #task-main-content label[for=task-content-input],
#create-lecture #course-main-content label[for=course-content-input],
#create-lecture #course-main-content label[for=lecture-content-input],
#create-lecture #course-main-content label[for=task-content-input],
#create-lecture #lecture-main-content label[for=course-content-input],
#create-lecture #lecture-main-content label[for=lecture-content-input],
#create-lecture #lecture-main-content label[for=task-content-input],
#create-lecture #task-main-content label[for=course-content-input],
#create-lecture #task-main-content label[for=lecture-content-input],
#create-lecture #task-main-content label[for=task-content-input] {
  display: block;
  margin-top: 1em;
}
.create-page .ga-rsidebar-1 .btn,
#create-lecture .ga-rsidebar-1 .btn {
  padding: 1em;
}
.create-page #course-content-input,
.create-page #lecture-content-input,
.create-page #task-content-input,
#create-lecture #course-content-input,
#create-lecture #lecture-content-input,
#create-lecture #task-content-input {
  height: 50vh;
}
.create-page #attached-files > *:nth-child(n+2),
#create-lecture #attached-files > *:nth-child(n+2) {
  margin-top: 1em;
}
.create-page #attached-files__inner,
#create-lecture #attached-files__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 0.5em;
}
.create-page #attached-files__inner .attached-file,
#create-lecture #attached-files__inner .attached-file {
  text-decoration: none;
  color: inherit;
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon file-name" "icon file-type";
  width: fit-content;
  padding: 0.5em;
  padding-right: 1em;
  border: 1px solid #D5D6D2;
  border-radius: 1em;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.create-page #attached-files__inner .attached-file .material-icons,
.create-page #attached-files__inner .attached-file .material-icons-outlined,
#create-lecture #attached-files__inner .attached-file .material-icons,
#create-lecture #attached-files__inner .attached-file .material-icons-outlined {
  grid-area: icon;
  align-self: center;
}
.create-page #attached-files__inner .attached-file span[name=file-name],
#create-lecture #attached-files__inner .attached-file span[name=file-name] {
  grid-area: file-name;
  font-weight: 500;
}
.create-page #attached-files__inner .attached-file span[name=file-type],
#create-lecture #attached-files__inner .attached-file span[name=file-type] {
  grid-area: file-type;
  font-size: 14px;
}
.create-page #attached-files__inner .attached-file:hover span[name=file-name],
#create-lecture #attached-files__inner .attached-file:hover span[name=file-name] {
  text-decoration: underline;
}
.create-page #attached-files__inner .attached-file:active,
#create-lecture #attached-files__inner .attached-file:active {
  background-color: #F1F1F2;
}
.create-page #lecture-tasks > *:nth-child(n+2),
#create-lecture #lecture-tasks > *:nth-child(n+2) {
  margin-top: 1em;
}
.create-page #lecture-tasks a,
#create-lecture #lecture-tasks a {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0.5em;
  border: 1px solid #D5D6D2;
  border-radius: 0.5em;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.create-page #lecture-tasks a:hover span[name=task-name],
#create-lecture #lecture-tasks a:hover span[name=task-name] {
  text-decoration: underline;
}
.create-page #lecture-tasks a p,
#create-lecture #lecture-tasks a p {
  margin: 0;
  margin-top: 0.5em;
}
.create-page #lecture-tasks a:nth-of-type(n + 2),
#create-lecture #lecture-tasks a:nth-of-type(n + 2) {
  margin-top: 0.5em;
}
.create-page #lecture-tasks a span[name=task-deadline],
#create-lecture #lecture-tasks a span[name=task-deadline] {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
.create-page #lecture-tasks a:active,
#create-lecture #lecture-tasks a:active {
  background-color: #F1F1F2;
}

#course-settings__inner li {
  display: block;
}
#course-settings__inner li:nth-of-type(n + 2) {
  margin-top: 0.5em;
}
#course-settings__inner label {
  display: block;
  font-size: 16px;
}
#course-settings__inner .unit {
  font-size: 14px;
  align-self: end;
}

#task__inner > :nth-child(n+2) {
  margin-top: 1em;
}
#task__inner > :last-child {
  margin-top: 2em;
}

.task-item {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 0px 3px 0px #00000040;
  -moz-box-shadow: 0px 0px 3px 0px #00000040;
  box-shadow: 0px 0px 3px 0px #00000040;
}
.task-item .title-container > span {
  margin-right: 0.5em;
}
.task-item .title-container button {
  font-size: 16px;
}
.task-item .btn-icon:hover {
  color: #a01d26;
}
.task-item input {
  width: 100%;
  flex: 1 1 0;
}
.task-item .answer-options {
  margin-top: 0.25em;
}
.task-item .btn-container.add-option {
  margin-top: 1em;
  font-size: 16px;
}
.task-item .btn-container.add-option .btn {
  display: inline-flex;
  align-items: center;
}

#task-deadline input[type=date] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #D5D6D2;
  border-radius: 0.25em;
  font-size: 16px;
}
