/* Colors */
$snowcloud: #F1F1F2;
$bluishwhite: #FAFCFD;

$balck: #363636;
$darkestlightblack: #404040;
$darkerlightblack: #636262;
$darklightblack: #838282;
$lightblack: #9F9F9F;
$lighterblack: #BBBBBB;
$lightestblack: #D2D2D2;

$darkestgrey: #787373;
$darkergrey: #928D8D;
$darkgrey: #ABA9A9;
$grey: #C0BFBF;
$lightgrey: #D2CFCF;
$lightergrey: #EAEAEA;
$warmgrey: #BCBABE;
$coldgrey: #D5D6D2;

$azureprincipal: #4662CD;
$azurelight: #5B76E0;
$azurelighter: #758FF2;
$moderatelightblue: #7ACBCD;
$blue: #C4DFE6;
$lightblue: #DCDEF0;
$lightestblue: #E4E6F4;


$darkgreen: #328449;
$moderategreen: #60EB87;
$moderateyellow: #F4C959;
$moderateorange: #F5993D;
$ruby: #a01d26;
$moderatered: #F93232;