@mixin box-sizing($param) {
    box-sizing: $param;
    -moz-box-sizing: $param;
    -webkit-box-sizing: $param;
}

@mixin box-shadow($param...) {
    -webkit-box-shadow: $param;
    -moz-box-shadow: $param;
    box-shadow: $param;
}


@mixin list-style-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin link-style-reset {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

@mixin hidden{
    pointer-events: none;
    cursor: default;
    opacity: 0;
}

@mixin visible{
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

@mixin drop-down-triangle($height, $border-color: inherit) {
    display: inline-block;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: calc((#{$height}) / 2) 0 calc((#{$height}) / 2) calc((#{$height})*0.866);
    //border-width: 0.25em 0 0.25em 0.433em;
    border-left-color: $border-color;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

@mixin stroke-triangle($height, $border-color: inherit) {
    display: inline-block;
    $side: $height / 1.414;
    width: $side;
    height: $side;

    // @include box-sizing(unset);
    // box-sizing: content-box;

    margin: 0;
    padding: 0;

    border-style: solid;
    border-width: 1px;

    border-left-color: transparent;
    border-top-color: $border-color;
    border-right-color: $border-color;
    border-bottom-color: transparent;

    transform: rotate(45deg);
}

@mixin primary-font {
    font: {
        family: $ff-primary;
        size: $f-size-primary;
        weight: 500;
    }
}





/*
@mixin drop-down-triangle($height, $border-color: inherit) {
    display: inline-block;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: $height/2 0 $height/2 $height*0.866;
    //border-width: 0.25em 0 0.25em 0.433em;
    border-left-color: $border-color;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
*/