$color-primary: #26272d;
$color-hovered-link: #267df4;

$bg-color-primary: #f4f5f6; //#e9f1f3;
$bg-color-secondary: #e9f1f3;
$bg-color-bleary: #ffffff30;

$border-color-primary: #dae2e4;
$border-color-secondary: #e9e9ea;

$shadow-color-primary: #223c5033;

$button-color-primary: #efefef;
$button-color-secondary: #d1e3fd;
$button-hovered-color: #dae2e4; //#dddcdc;
$button-pressed-color: #c8dde3;

$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Roboto', sans-serif;
$ff-titles: 'El Messiri', sans-serif;

$f-size-primary: 18px;
$f-size-titles: 42px;
$f-size-description: 15px;
$line-height-primary: 1.5;




