@import 'colors';
@import 'fonts';

/* Typography */
$ff-primary: $montserrat;
$ff-secondary: $roboto;
$ff-title: $elmessiri;

$f-size-title-primary: 36px;
$f-size-title-secondary: 27px;
$f-size-emphasis: 24px;
$f-size-primary: 18px;
$f-size-secondary: 16px;
$f-size-additional: 14px;

$f-color-primary: $darkestlightblack;
$f-color-secondary: #fff;
$f-color-link-hovered: $moderatelightblue;
$f-color-hovered: $azureprincipal;

$f-color-suptitle: $darkerlightblack;
$f-color-subtitle: $darklightblack;
$f-color-placeholder: $lightestblack;
$f-color-title-primary: #000;

$f-color-red: $ruby;



/* Background */
$bg-color-primary: $snowcloud;
$bg-color-secondary: $balck;
$bg-color-button: $azureprincipal;
$bg-color-button-hovered: $azurelighter;
$bg-color-button-pressed: $azurelight;
$bg-color-input-primary: $bluishwhite;
$bg-color-input-secondary: $lightestblue;
$bg-color-panel: #fff;



/* Border */
$border-color-primary: $coldgrey;
$border-color-secondary: $blue;
$border-color-hovered: $azureprincipal;

$border-color-colored-1: $lightblue;
$border-color-colored-2: $moderateyellow;
$border-color-colored-3: $azurelight;
$border-color-colored-4: $moderategreen;
$border-color-colored-5: $moderatered;

$border-radius-primary: 4px;
$border-radius-secondary: 4.81px;
$border-radius-hovered: 8px;
$border-radius-circle: 20px;
$border-radius-semi-circle: 10px;



/* Shadow */ 
$shadow-primary: 0px 1px 3px 0px #00000040;
$shadow-secondary: 0px 2.4px 7.21px 0px #00000040;


/* Padding */
$padding-input-v: 0.5em;
$padding-input-h: 0.4em;
