@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'variables';
@import 'main-mixins';


* {
    &,
    &:after,
    &:before {
        @include box-sizing(border-box);
    }
}



body {
    margin: 0;

    @include primary-font;
    line-height: $line-height-primary;
    color: $color-primary;

    background-color: $bg-color-primary;
}

.bg {
    width: 100%;
    min-height: 100vh;

    padding-top: 120px;

    // background-color: $bg-color-primary;
}

h1 {
    margin: 0;
    padding: 0;

    font-family: $ff-titles;
    font-size: $f-size-titles;

    text-align: center;
}

h2 {
    display: inline-block;

    margin: 0;
    padding: 0;

    font-size: 1.5em;
    font-weight: 500;
}

h6 {
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 1em;
    font-weight: 500;

    &:first-child {
        margin-top: 0;
    }
}

/* Main navbar */
.main-navbar {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        @include link-style-reset;

        transition: color .1s linear;
    }
}

.main-logo {
    font-size: 1.5em;
}

.nav-links {
    @include list-style-reset;

    &__item {
        display: inline-block;

        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        a:hover {
            color: $color-hovered-link;
        }
    }
}



// Drop down
.drop-down {
    // background-color: bisque;
    
    position: relative;

    & > a:after {
        content: "";
        @include drop-down-triangle(0.5em);
        margin-left: 0.1em;
        transition: transform .1s linear;
    }

    & > a:before {
        content: "";
        @include drop-down-triangle(0.75em, #223c5010);

        $newColor: opacify(#223c5033, 0.23);

        position: absolute;
        bottom: -0.75em;
        left: calc(50% - 0.75em*0.433);

        transform: rotate(-90deg);

        @include hidden;
        transition: opacity .25s linear
    }

    &__item {
        position: absolute;
        width: max-content;

        margin-top: calc(0.75em - 2px);
        padding: 0.5em;

        background-color: $bg-color-primary;
        border: 1px solid $border-color-primary;
        border-radius: 5px;

        @include box-shadow(0px 5px 10px 2px $shadow-color-primary);

        &:before {
            content: "";
            display: block;

            height: calc(0.75em - 2px);

            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
        }

        @include hidden;
        transition: opacity .25s linear;

        .nav-links__item {
            display: block;
            margin: 0;
        }
    }

    &:hover {
        a:after {
            transform: rotate(90deg);
        }

        a:before {
            @include visible;
        }

        .drop-down__item {
            @include visible;
        }
    }
}



/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    // text-align: center;
}



/* Header */
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    &__inner {
        height: 120px;
    }
}



/* Intro */
.intro {
    width: 100%;
    height: 100vh;

    background: url(../images/intro/intro.jpg) center no-repeat;
    background-size: cover;
}


/* Flex Group */
.flex-group {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Input Line */
.input-line {
    display: inline-block;

    width: 100%;

    padding: 5px 10px;
    
    border: 1px solid $color-primary;
    border-radius: 5px;

    outline: none;

    @include primary-font;
}

.dash {
    width: 3em;
    height: 1px;
    background-color: $color-primary;
}


/* Button */
.btn {
    padding: 5px 10px;

    background-color: $button-color-primary;

    border: 1px solid $border-color-primary;
    border-radius: 20px;

    outline: none;

    @include primary-font;

    transition: background-color .1s linear;

    &:hover {
        background-color: $button-hovered-color;
    }

    &:active {
        background-color: $button-pressed-color;
    }
}


/* Cross Area */
.cross {
    &-area {
        width: 1.5em;
        height: 1.5em;

        position: relative;

        display: inline-block;
        white-space: nowrap;

        padding: 0;

        border-radius: 1.5em;

        @include visible;

        transition: background-color .2s ease-out;

        &:active {
            background-color: $border-color-primary;
        }
		
		&:hover {
			&:after,
			&:before {
				    border-top-color: red;
					border-right-color: red;
			}
		}


        $diagonal: 0.75em;
        $side: $diagonal / 1.414;
        $shift: ($diagonal - $side) * 0.5;

        &:before {
            content: "";

            @include stroke-triangle($diagonal, $color-primary);
            vertical-align: text-top;
    
            position: absolute;
            top: calc(50% - #{$side} * 0.5);
            left: calc(50% - #{$side} - #{$shift} + 0.5px);
			
			transition: border-color .1s linear;
        }
    
        &:after {
            content: "";
            @include stroke-triangle($diagonal, $color-primary);
            transform: rotate(-135deg);
            vertical-align: text-top;

            position: absolute;
            top: calc(50% - #{$side} * 0.5);
            right: calc(50% - #{$side} - #{$shift} + 0.5px);
			
			transition: border-color .1s linear;
        }
    }
}


/* Search Line */
.search-line {
    grid-area: search;

    width: 100%;

    padding: 0.5em 30px;
    
    border: 1px solid $border-color-primary;
    border-radius: 20px;

    outline: none;

    @include primary-font;
}


/* Cell */
.cell {
    &__span2 {
        grid-column-end: span 2;
    }

    &__span3 {
        grid-column-end: span 3;
    }
}



/* Courses */
.courses {
    display: grid;
    grid-template:
                    [search-row-start] "search search" auto [search-row-end]
                    [main-row-start] "filter content" auto [main-row-end]
                    / 400px auto;
    gap: 20px;

    padding-bottom: 20px;
}


/* Filter */
.filter {
    grid-area: filter;

    background-color: #fff;
    border: 1px solid $border-color-primary;
    border-radius: 20px;

    ul {
        @include list-style-reset;
    }

    &-tabs {
        &__item {
            padding: 0 30px 1em;

            border-top: 1px solid $border-color-secondary;
        }
    }

    &-options {
        display: grid;
        grid-template-columns: auto auto 1fr;
        // grid-template-rows: auto auto auto auto;
        // grid-auto-columns: 0;
        gap: 10px 12px;
    
        align-items: baseline;
    }


    &-authors {
        grid-column-start: 1;
        grid-column-end: 4;

        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 10px;

        &__item {
            width: max-content;
            height: calc(1.5em + 10px);

            flex: 0 0 1;

            display: flex;
            align-items: center;
            gap: 10px;

            padding: 0 10px;
        
            border: 1px solid $border-color-primary;
            border-radius: 20px;

            font-size: 15px;
        }
    }
}

.accordion {
    &-title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        margin-bottom: 0.5em;
    }
}

.stroke-triangle {
    font-size: 1.5em;
    @include stroke-triangle(0.75em);
    transform: rotate(135deg);

    position: relative;
    top: -0.75em * 0.25;
}


.main-content {
    grid-area: content;

    padding: 0 30px;

    // background-color: $bg-color-bleary;
    background-color: #fff;
    border: 1px solid $border-color-primary;
    border-radius: 20px;

    &__item {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // gap: 0 20px;

        margin-bottom: 30px;
        padding: 10px;

        background-color: #fff;
        border: 1px solid #00000014;
        border-radius: 10px;

        @include visible;

        @include box-shadow(0 0.125rem 0.25rem #00000014);

        transition: box-shadow .1s linear;

        &:hover {
            @include box-shadow(0px 0px 0.5rem 0px $shadow-color-primary);
            // @include box-shadow(0 0.25rem 0.25rem 0.125rem #00000014);
        }

        font-size: $f-size-description;

        &-header {
            display: flex;
            justify-content: space-between;

            font-size: $f-size-primary;
            

            &__title {

            }

            &__price {
                font-size: $f-size-description;
            }
        }

        &-description {
            font-family: $ff-secondary;
            
            margin: 0.5em 0 2em;
        }

        &-footer {
            display: flex;
            column-gap: 2em;


            & > * {
                flex: 1 1 0;
            }

            .footer__schedule {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-auto-rows: max-content;

                // align-items: start;
                column-gap: 10px;
            }

            .footer__authors {
                text-align: right;
            }

            .test {
                display: flex;
                justify-content: flex-end;
                column-gap: 10px;
            }
        }
    }
}



.vertical-alignment {
    display: flex;
    flex-direction: column;
}


/* Value */
.value {
    white-space: nowrap;
}

.enumerable {
    margin-left: 0.5em;

    &:after {
        content: ",";
    }

    &:first-of-type {
        margin-left: 0;
    }

    &:last-child {
        // margin-left: 0;

        &:after {
            content: "";
        }
    }
}























