// @import 'old-style';

@import 'variables';
@import 'mixins';

// @import 'test';

*,
*:after,
*:before {
    @include box-sizing(border-box);
}

body {
    margin: 0;
    margin-bottom: 1em;

    padding: 0;

    background-color: $bg-color-primary;

    font-family: $ff-primary;
    font-size: $f-size-primary;
    color: $f-color-primary;
}



/* Text */
h1, h2, h3 {
    margin: 0;
    font-family: $ff-title;
}
h2, h3 {
    line-height: 1.25;
}

.title {
    font-size: 1.5em;
    font-weight: 500;

    &.normal {
        font-weight: inherit;
    }
}
.subtitle {
    font-size: 1.125em;
}
.reduced-text {
    font-size: 0.9em;
}
.small-text {
    font-size: 0.75em;
}

.text-emphasis {
    &-primary {
        color: $f-color-primary;
    }
    &-1 {
        color: $f-color-emphasis-lvl-1;
    }
    &-2 {
        color: $f-color-emphasis-lvl-2;
    }
    &-3 {
        color: $f-color-emphasis-lvl-3;
    }
    &-like-border {
        color: $border-color-primary;
    }
}

.secondary-text {
    font-family: $ff-secondary;
}
.description {
    margin: 0.5em 0;

    font-family: $ff-secondary;
    font-size: $f-size-secondary;
    text-align: justify;
}

.title-container,
.description-container {
    font-size: inherit;
}

.notice {
    font-weight: 500;

    &.error {
        color: $f-color-error;
    }
}

.inactive {
    color: $f-color-secondary-inactive;
    @include hidden;
    opacity: 1;
}



/* Containers */
.container {
    width: 100%;
    // height: 100%;

    margin: 0 auto;

    &.c-main {
        max-width: 1200px;
    }
    &.c-10 {
        max-width: 1000px;
    }
    &.c-8 {
        max-width: 800px;
    }
    &.c-6 {
        max-width: 600px;
    }
    &.c-4 {
        max-width: 400px;
    }
    &.c-2 {
        max-width: 200px;
    }

    &.gap {
        &-0_5 {
            > *:nth-child(n + 2) {
                margin-top: 0.5em
            }
        }
        &-1 {
            > *:nth-child(n + 2) {
                margin-top: 1em
            }
        }
        &-1_5 {
            > *:nth-child(n + 2) {
                margin-top: 1.5em
            }
        }
        &-2 {
            > *:nth-child(n + 2) {
                margin-top: 2em
            }
        }
    }
}

.content-panel {
    width: 100%;

    padding: 1em;

    background-color: $bg-color-panel;
    border-radius: 0.25em;

    @include box-shadow($shadow-primary);
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    &.gap {
        &-0_5 {
            gap: 0.5em;
        }
        &-1 {
            gap: 1em;
        }
    }

    &.nogap {
        gap: 0;
    }

    &.flex {
        &-end {
            justify-content: flex-end;
        }
        &-start {
            justify-content: flex-start;
        }
        &-center {
            justify-content: center;
        }
    }

    .flex-fill {
        flex: 1 1 0;
    }
    &.content-fill {
        > * {
            flex: 1 1 0;
        }
    }
}


.content {
    &-center{
        text-align: center;
    }
    &-left{
        text-align: left;
    }
    &-right{
        text-align: right;
    }
}

.hidden {
    visibility: hidden;
}

.modal {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.26);

    @include hidden;
    @include transition(opacity .25s linear);


    &.visible {
        @include active;
        cursor: default;
    }
}


/* Grid Wrapper */
.grid-wrapper {
    display: grid;
    align-items: start;
    gap: 1em;

    &.template-main {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas: "header header"
                             "main   rsidebar-1"
                             "main   rsidebar-2"
                             "main   rsidebar-3";
    }
    &.template-main-expanded {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto auto 1fr;
        grid-template-areas: "header header"
                             "main   rsidebar-1"
                             "main   rsidebar-2"
                             "main   rsidebar-3"
                             "main   rsidebar-4"
    }
    &.template-main-l {
        grid-template-columns: auto 1fr;
        grid-template-areas: "header     header"
                             "lsidebar-1 main"
                             "lsidebar-2 main"
                             "lsidebar-3 main";
    }
}

.ga {
    &-header {
        grid-area: header;
    }
    &-main {
        grid-area: main;
    }
    &-rsidebar {
        &-1 {
            grid-area: rsidebar-1;
        }
        &-2 {
            grid-area: rsidebar-2;
        }
        &-3 {
            grid-area: rsidebar-3;
        }
        &-4 {
            grid-area: rsidebar-4;
        }
    }
    &-lsidebar {
        &-1 {
            grid-area: lsidebar-1;
        }
        &-2 {
            grid-area: lsidebar-2;
        }
        &-3 {
            grid-area: lsidebar-3;
        }
    }
}

.g-c-span {
    &-2 {
        grid-column-end: span 2;
    }
    &-3 {
        grid-column-end: span 3;
    }
}



/* Icons */
.material-icons,
.material-icons-outlined {
    vertical-align: bottom;

    &.md-18 { font-size: 18px; }
    &.md-24 { font-size: 24px; }
    &.md-36 { font-size: 36px; }
    &.md-48 { font-size: 48px; }

    &.va-bottom {
        vertical-align: bottom !important;
    }
    &.va-top {
        vertical-align: top !important;
    }
    &.va-middle {
        vertical-align: middle !important;
    }

    &.rounded {
        width: 46px;
        border-radius: 2em;
    }
    &.fill {
        
    }
}

svg.material-icons {
    width: 18px;
    height: 18px;

    margin-right: 0.5em;
}


.toggle {
    &-on {
        color: $f-color-hovered;
    }
    &-off {
        color: inherit;
    }

    &-container {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;

        column-gap: 0.5em;
    }
}


.no-select {
    user-select: none;
}



/* Rounded */
.content-panel,
.btn,
input[type=text],
input[type=password],
.input-wrapper,
textarea {
    &.rounded {
        &-full {
            border-radius: 2em;
        }
        &-half {
            border-radius: 1em;
        }
        &-quarter {
            border-radius: 0.5em;
        }
        &-none {
            border-radius: 0;
        }
    
        &-full,
        &-half,
        &-quarter {
            outline-offset: 4px;
        }
    }
    &.equal {
        padding: 0.5em;
    }
}



/* Button */
.btn {
    &, &-icon {
        border: none;
        font: {
            family: $ff-primary;
            size: inherit;
            style: normal;
            weight: 700;
        }

        @include active;
    }

    padding: 0.5em 1em;
    
    background-color: $bg-color-button;
    border-radius: 0.25em;

    white-space: nowrap;
    color: $f-color-secondary;
    text-transform: uppercase;
    text-decoration: none;

    @include active;
    @include transition(background-color .1s linear);


    &:not(.fill, .stroke):hover {
        background-color: $bg-color-button-hovered;
    }
    &:not(.fill, .stroke):active {
        background-color: $bg-color-button-pressed;
    }


    &.stroke {
        background-color: transparent;
        border: 1px solid $border-color-primary;
        color: inherit;

        @include transition("border-color .1s linear, background-color .25s linear, color .25s linear");

        &:not(.strk-secondary):hover {
            border-color: $border-color-hovered;
        }
        &:not(.strk-secondary):active {
            background-color: $bg-color-button-hovered;
            color: $f-color-secondary;

            border-color: $border-color-hovered;
        }

        &.strk-secondary {
            font-weight: 500;
            text-transform: capitalize;

            &:hover {
                background-color: $bg-color-primary;
            }
            &:active {
                background-color: $border-color-primary;
            }
        }
    }
    &.fill {
        border: 1px solid transparent;
    }


    &.rounded-full {
        &.equal {
            &.deployable {
                @include transition(border-radius .25s ease-out);

                &:hover {
                    border-radius: 0.5em;
                }
            }
        }
    }


    &-icon {
        padding: 0.5em;
        background-color: transparent;
        border-radius: 2em;

        @include active;
        @include transition("background-color .2s ease-out, color .1s linear");


        &:hover {
            color: $bg-color-button;
        }
        &:active {
            background-color: $border-color-primary;
        }
    }

    .material-icons,
    .material-icons-outlined {
        vertical-align: middle;
    }


    &.btn-secondary {
        font-size: $f-size-secondary;
    }
}




/* Input */
input[type=text],
input[type=password],
textarea {
    padding: 0.4em 0.5em;

    background-color: transparent;

    border: 1px solid $border-color-primary;
    border-radius: 0.25em;

    font: {
        family: inherit;
        size: inherit;
        style: normal;
        weight: inherit;
    }

    outline: none;

    &.rounded {
        &-full,
        &-half {
            padding: 0.4em 1em;
        }
    }

    &.fill {
        background-color: $bg-color-input-primary;
    }
    &.stroke-none {
        border-color: transparent;
    }
    &.stroke-bottom {
        // padding-top: 0;

        border-color: transparent;
        border-bottom-color: $border-color-primary;

        &:focus {
            border-bottom-color: $border-color-hovered;

        }
    }


    &:not(.stroke-none, .stroke-bottom):focus {
        border-color: $border-color-hovered;
    }

    &::placeholder {
        color: $f-color-placeholder;
    }


    &.error {
        border-color: $border-color-error;
    }
}

/* Input Wrapper */
.input-wrapper {
    max-width: 100%;

    padding: 0 0.5em;

    border: 1px solid $border-color-primary;
    border-radius: 0.25em;

    .material-icons {
        vertical-align: middle;
    }


    &.rounded {
        &-full,
        &-half {
            padding: 0em 1em;
        }
    }

    input {
        flex: 1 1 0;
        padding: 0.4em 0;
    }

    &:not(.stroke-none):focus-within {
        border-color: $border-color-hovered;
    }

    &.deployable {
        @include transition(border-radius .1s linear);

        &:focus-within {
            border-radius: 0.25em;
        }
    }
}

/* Input Container */
.input-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;

    input {
        width: 100%;
        flex: 1 1 0;
    }

    hr {
        flex: 0 0 1em;
    }
}


/* Input Buffer */
.auto-input {
    min-width: 1em;
    max-width: 100%;
}
.input-buffer {
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;

    margin: 0;
}



/* Form */
.form {
    position: relative;

    &-inner {
        @include list-style-reset;

        li {
            input[type=text],
            input[type=password],
            textarea {
                display: block;
                width: 100%;
            }

            &:nth-child(n + 2) {
                margin-top: 0.5em;
            }
        }

        li.filled {
            > * {
                display: block;
                width: 100%;
                margin: 0 auto;
            }


            &.three-quarter {
                > * {
                    width: 75%;
                }
            }
            &.half {
                > * {
                    width: 50%;
                }
            }
            &.quarter {
                > * {
                    width: 25%;
                }
            }
        }

        li.indent {
            &-1 {
                margin-top: 1em;
            }
            &-1_5 {
                margin-top: 1.5em;
            }
            &-2 {
                margin-top: 2em;
            }

            &-rev {
                &-1 {
                    margin-bottom: 1em;
                }
                &-1_5 {
                    margin-bottom: 1.5em;
                }
                &-2 {
                    margin-bottom: 2em;
                }
            }
        }

        .btn {
            &.type-submit {
                .label {
                    font-size: $f-size-secondary;
                }

                .material-icons {
                    vertical-align: middle;
                }
            }
        }

        .status-bar {
            font-size: $f-size-secondary;
        }
    }

    &-navigation {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;

        padding: 0.5em;

        font-size: 0.75em;
        color: $f-color-emphasis-lvl-2;
    }
}

hr {
    flex: 1 1 0;
    border-color: $border-color-primary;
}



/* Expandable */
.expandable {
    .expand-btn {
        padding: 0.5em 0em;

        @include active;
        @include transition(color .1s linear);
        hr {
            @include transition(border-color .1s linear);
        }

        &.secondary-color {
            &:hover {
                color: $f-color-primary;
            }
        }

        &:hover {
            color: $f-color-hovered;
            hr {
                border-color: $f-color-hovered;
            }
        }
    }

    .expandable-part {
        display: none;
    }
}



/* Links */
.link {
    @include link-style-reset;


    &.underlined {
        text-decoration: underline;
    }

    &.nav {
        @include transition(color .1s linear);
        
        &:hover,
        &.active {
            color: $f-color-nav-link-hovered;
        }
    }


    &:not(.nav):hover {
        color: $f-color-hovered;
        text-decoration: underline;
        .text-emphasis-2 {
            color: $f-color-primary;
            text-decoration: underline;
        }
    }
    &:not(.nav):active {
        text-decoration: none;
        .text-emphasis-2 {
            text-decoration: none;
        }
    }

    &.active {
        color: $f-color-hovered;
    }
}


.link-secondary {
    @include link-style-reset;

    &:hover {
        text-decoration: underline;
    }

    &.l-block {
        display: block;
    }
}


/* Detailed Link */
.detailed-link {
    @include link-style-reset;

    display: grid;
    &.g-template {
        &-main {
            grid-template-areas: "header"
                                 "title"
                                 "description"
                                 "expand-btn"
                                 "expandable"
                                 "footer";
        }
        &-top {
            grid-template-areas: "title header"
                                 "description description"
                                 "expand-btn expand-btn"
                                 "expandable expandable"
                                 "footer footer";

            .title-container {
                padding-top: 0.5em;
            }
        }
        &-bottom {
            grid-template-areas: "header header"
                                 "title footer";
        }
    }

    background-color: transparent;
    border-radius: 0.25em;
    
    @include box-shadow($shadow-primary);
    @include transition(box-shadow .1s linear);

    cursor: pointer;
    &.expandable {
        cursor: default;
    }

    &:nth-of-type(n + 2) {
        margin-top: 1em;
    }


    &:hover {
        @include box-shadow($shadow-secondary);
    }

    &.bordered {
        border-top: 0.25em solid $border-color-primary;

        &.color {
            &-1 {
                border-color: $additional-color-1;
            }
            &-2 {
                border-color: $additional-color-2;
            }
            &-3 {
                border-color: $additional-color-3;
            }
            &-4 {
                border-color: $additional-color-4;
            }
            &-5 {
                border-color: $additional-color-5;
            }
        }
    }


    &__header {
        grid-area: header;
    }
    &__footer {
        grid-area: footer;
    }
    .title-container {
        grid-area: title;
    }
    .description-container {
        grid-area: description;
    }
    .expand-btn {
        grid-area: expand-btn;
    }
    .expandable-part {
        grid-area: expandable;
    }


    &__header,
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &.flex-start {
            justify-content: flex-start;
        }
        &.flex-end {
            justify-content: flex-end;
        }

        padding: 0.5em;

        font-size: 0.75em;
        font-weight: 500;
        color: $f-color-emphasis-lvl-2;
        .standart-emphasis {
            color: $f-color-primary;
        }
    }

    .title-container,
    .description-container {
        padding: 0em 1em;
    }

    .expand-btn {
        padding: 0.5em 1em;

        @include transition(padding .35s linear);

        &.cover {
            padding: 0.5em 0;
        }
    }

    
    .expandable-part {
        padding: 0 1em;

        &__inner {
            margin: 0.5em;

            @include list-style-reset;
            font-size: $f-size-secondary;
            *:nth-child(n + 2) {
                margin-top: 0.25em;
            }
        }
    }
}


/* List */
.list {
    @include list-style-reset;
    margin: 0;
}



/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1em;

    background-color: $bg-color-secondary;

    font-weight: 700;
    color: $f-color-secondary;
}



/* Navigation */
.navbar {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    &__inner {
        @include list-style-reset;
    }

    &__item {
        display: inline-block;

        &:nth-child(n + 2) {
            margin-left: 1em;
        }
    }
}

.dropdown {
    position: relative;

    .link {
        position: relative;
        z-index: 2;
    }

    &__inner {
        @include list-style-reset;

        padding: 0.5em;
        padding-top: 48px;
        &.flat {
            padding-top: 0;
        }

        position: absolute;
        &:not(.flat){
            top: 0;
            @include box-shadow(0 3px 3px -2px #000);
        }

        &:not(.content-right) {
            left: -0.5em;
        }
        &.content-right {
            right: -0.5em;
        }
        z-index: 1;

        min-width: calc(100% + 1em);

        background-color: $bg-color-secondary;
        border-radius: 0.125em;


        @include hidden;
        @include transition(opacity .25s linear);
    }

    &__item {
        margin-top: 0.5em;

        &:hover {
            .link {
                &.nav{
                    color: $f-color-nav-link-hovered;
                }
            }
        }

        .material-icons,
        .material-icons-outlined {
            width: 48px;
            text-align: center;
        }
    }


    &:hover {
        .dropdown__inner {
            @include active;
        }
    }
}



/* Filter */
#filter {
    width: 380px;
    position: relative;

    padding-bottom: 0;

    .expandable {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;

            border-top: 1px solid $border-color-primary;
        }

        &:last-child .expandable-part {
            padding-bottom: 1em;
        }
    }

    .filter__inner {
        @include list-style-reset;
        margin: 0;
        margin-bottom: 1em;

        max-width: 100%;
    
        &:not(.without-grid) {
            display: grid;
            grid-template-columns: auto 150px auto;
            gap: 0.5em;
        }

        &.without-grid {
            li:nth-child(n + 2) {
                margin-top: 0.5em;
            }
        }
    
        align-items: center;
    
        input[type=checkbox].hidden {
            display: none;
        }
    
        .filter-option {
            display: contents;
    
            font-size: $f-size-secondary;
    
            &:nth-child(n + 2) {
                margin-top: 0.5em;
            }
    
            .container {
                margin: 0;
            }
    
            input[type=text] {
                text-align: right;
            }
        }

        .input-wrapper {
            padding-right: 0.5em;
            width: fit-content;
        }
        .btn-icon {
            &:hover {
                color: $f-color-error;
            }
        }

        #add-author-btn__container {
            margin-top: 1em;
        }
    }
}


/* My Courses */
#my-courses-list {
    > .title-container {
        margin-bottom: 1em;
    }
}



/* Course */
#course-main {
    grid-area: main;
}

#course-tabs {
    grid-area: header;

    .link {
        position: relative;

        font-weight: 500;
        text-decoration: none;

        &:after {
            content: "";
            @include box-sizing(content-box);

            display: block;
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            padding-bottom: 0.5em;

            border-bottom: 3px solid transparent;
        }

        &:hover {
            &:after {
                border-bottom: 3px solid $border-color-hovered;
            }
        }

        &.active {
            &:after {
                border-bottom: 3px solid $border-color-hovered;
            }
        }
    }
}

#course-comments {
    margin-top: 2em;

    .comment {
        &:nth-of-type(n + 2) {
            margin-top: 1em;
        }

        padding: 0.5em 1em;
        border: 1px solid $border-color-primary;
        border-radius: 0.5em;

        &-header {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: calc(1em + 4px) auto;
            grid-template-areas: "avatar username"
                                 "avatar date";
            align-items: start;
            column-gap: 0.5em;
    
            > .material-icons,
            > .material-icons-outlined {
                grid-area: avatar;
            }
            span[name=username] {
                grid-area: username;

                margin-top: 2px;

                font-weight: 500;
                // line-height: 1;
            }
            span[name=date] {
                grid-area: date;

                font-size: 14px;
            }
        }
        a.comment-header {
            @include link-style-reset;

            &:hover {
                span[name=username] {
                    text-decoration: underline;
                }
            }
        }
    }

    #comment-write {
        border: none;
        padding: 0.5em 0;

        .comment-header {
            grid-template-areas: "avatar username"
                                 "avatar comment";
    
            textarea[name=comment] {
                grid-area: comment;
            }
        }
    }
}

#course-authors,
#course-students {
    // position: relative;
    padding: 0;
    > * {
        padding: 0 1em;

        &:first-child {
            padding-top: 1em;
        }
        &:last-child {
            margin-bottom: 1em;
        }
    }

    a:not(.link-secondary) {
        @include link-style-reset;

        padding-top: 0.5em;
        padding-bottom: 0.5em;

        @include transition(background-color .1s linear);

        &:hover {
            span[name=username] {
                text-decoration: underline;
            }
        }

        &:active {
            background-color: $border-color-primary;
        }
    }

}

#course-students {
    .expand-btn {
        margin-bottom: 1em;
    }
}


.path {
    align-self: start;
    font-size: 14px;

    a {
        @include link-style-reset;

        &:hover {
            text-decoration: underline;
        }
    }
}


#tasks-list {
    .expandable-part {
        display: block;
    }
}



.create-page,
#create-lecture {
    textarea {
        width: 100%;
        resize: vertical;
        font-family: $ff-secondary;
        font-size: $f-size-secondary;
    }

    #course-main-content,
    #lecture-main-content,
    #task-main-content {
        #course-name-input,
        #lecture-name-input,
        #task-name-input {
            flex: 1 1 0;
        }

        label[for=course-content-input],
        label[for=lecture-content-input],
        label[for=task-content-input] {
            display: block;
            margin-top: 1em;
        }
    }

    .ga-rsidebar-1 {
        .btn {
            padding: 1em;
        }
    }

    #course-content-input,
    #lecture-content-input,
    #task-content-input {
        height: 50vh
    }

    #attached-files {
        > *:nth-child(n + 2) {
            margin-top: 1em;
        }

        &__inner {
            display: flex;
            flex-wrap: wrap;
            gap: 1em 0.5em;
    
    
            .attached-file {
                @include link-style-reset;
    
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-areas: "icon file-name"
                                     "icon file-type";
    
    
                
                width: fit-content;
    
                padding: 0.5em;
                padding-right: 1em;
    
                border: 1px solid $border-color-primary;
                border-radius: 1em;
    
    
                .material-icons,
                .material-icons-outlined {
                    grid-area: icon;
                    align-self: center
                }
    
                span[name=file-name] {
                    grid-area: file-name;
                    font-weight: 500;
                }
                span[name=file-type] {
                    grid-area: file-type;
                    font-size: 14px;
                }
    
                @include transition(background-color .1s linear);
    
                &:hover {
                    span[name=file-name] {
                        text-decoration: underline;
                    }
                }
                &:active {
                    background-color: $bg-color-primary;
                }
            }
        }
    }

    #lecture-tasks {
        > *:nth-child(n + 2) {
            margin-top: 1em;
        }

        a {
            display: block;
            position: relative;
            @include link-style-reset;

            &:hover {
                span[name=task-name] {
                    text-decoration: underline;
                }
            }

            p {
                margin: 0;
                margin-top: 0.5em;
            }

            &:nth-of-type(n + 2) {
                margin-top: 0.5em;
            }

            padding: 0.5em;
            border: 1px solid $border-color-primary;
            border-radius: 0.5em;


            span[name=task-deadline] {
                position: absolute;
                right: 0.5em;
                top: 0.5em;
            }

            @include transition(background-color .1s linear);

            &:active {
                background-color: $bg-color-primary;
            }
        }


    }
}


#course-settings {
    &__inner {
        // display: grid;
        // grid-template-columns: auto 125px auto;
        // align-items: center;
        // gap: 0.5em;

        li {
            display: block;

            &:nth-of-type(n + 2) {
                margin-top: 0.5em;
            }
        }

        input {
            // width: 125px;
        }

        label {
            display: block;
            font-size: $f-size-secondary;
        }

        .unit {
            font-size: 14px;
            align-self: end
        }
    }
}


#task__inner {
    > :nth-child(n + 2) {
        margin-top: 1em;
    }

    > :last-child {
        margin-top: 2em;
    }
}


.task-item {
    margin-top: 1em;

    padding: 0.5em;

    // border: 1px solid $border-color-primary;
    border-radius: 0.25em;

    @include box-shadow(0px 0px 3px 0px #00000040);


    .title-container {
        > span {
            margin-right: 0.5em;
        }
        button {
            font-size: $f-size-secondary;
        }
    }

    .btn-icon {
        &:hover {
            color: $f-color-error;
        }
    }

    input {
        width: 100%;
        flex: 1 1 0;
    }
    .answer-options {
        margin-top: 0.25em;

        // > :last-child {
        //     margin-top: 1em;
        // }

    }
    .btn-container {
        &.add-option {
            margin-top: 1em;

            font-size: $f-size-secondary;

            .btn {
                display: inline-flex;
                align-items: center;
            }
        }
    }
}

#task-deadline {
    input[type=date] {
        width: 100%;

        padding: 0.5em;

        border: 1px solid $border-color-primary;
        border-radius: 0.25em;

        font-size: $f-size-secondary;

    }
}